.container {
  background-color: #404040;
}
.page-header {
    font-family: 'Oswald', sans-serif;
    color: white;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
   -webkit-box-shadow: 0px -5.5px 8px 3.9px rgba(141,140,179,1);
-moz-box-shadow: 0px -5.5px 8px 3.9px rgba(141,140,179,1);
box-shadow: 0px -5.5px 8px 3.9px rgba(141,140,179,1);
}
body{text-align: center;background: #404040;}
.img{position:absolute;z-index:1;}

#container{
    display:inline-block;
    width:px; 
    height:337px;
    margin: 0 auto; 
    background: black; 
    position:relative; 
    /*border:5px solid black; */
    xborder-radius: 10px; 
    xbox-shadow: 0 5px 50px #333;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(212,235,35,1);
-moz-box-shadow: 0px 0px 8px 5px rgba(212,235,35,1);
box-shadow: 0px 0px 8px 5px rgba(212,235,35,1);
}

#gameCanvas{
    position:relative;
    z-index: 20;
}
p {
  color: white;
  font-size: 30px;
}